### Imports and Installations

In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Analyze output of actuated simulation 
Timesteps 25200 - 29700

In [13]:
df = pd.read_csv('../src/data/actuated_output/actuated_output.csv')
df

,Step,num_vehicles,vehicle_types,avg_speed,localCO2Emission,localCOEmission,localHCEmission,localPMxEmission,localNOxEmission,localNoiseEmission,...,localStoppedVehicles,totalCO2Emission,totalCOEmission,totalHCEmission,totalPMxEmission,totalNOxEmission,totalFuelConsumption,totalNoiseEmission,totalWaitingTime,totalStoppedVehicles
0,25200,0,[],0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,1.123389e+04,359.172222,1.453889,2.442333,86.401389,3.550833e+03,178.991223,0.0,4
1,25201,0,[],0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,2.186324e+04,666.801335,3.018414,2.957748,97.425541,6.936337e+03,271.159876,0.0,1
2,25202,0,[],0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,3.250170e+04,924.722737,4.318140,3.586446,120.598029,1.031744e+04,335.695376,0.0,1
3,25203,0,[],0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,5.051227e+04,1100.544598,5.200979,6.431233,241.016657,1.601038e+04,463.885510,1.0,3
4,25204,0,[],0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,5.765308e+04,1096.456427,5.319689,6.791613,271.803409,1.827040e+04,538.493184,0.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4496,29696,43,"['DEFAULT_VEHTYPE', 'tram', 'bike_bicycle', 'D...",2.117354,193652.929723,3676.746291,32.810934,32.603994,1322.279479,543.327929,...,27,4.159814e+06,75182.038251,408.840162,570.903282,23958.575100,1.316436e+06,54146.509960,24311.0,498
4497,29697,41,"['DEFAULT_VEHTYPE', 'tram', 'bike_bicycle', 'D...",1.669011,166878.251470,3505.152819,26.536916,27.970917,1152.170733,520.677311,...,28,4.166713e+06,75030.566299,401.433029,578.350954,24389.035731,1.318387e+06,53899.249101,24790.0,506
4498,29698,43,"['DEFAULT_VEHTYPE', 'tram', 'bike_bicycle', 'b...",1.801564,167873.622411,3749.267604,32.364825,27.589654,1114.137225,516.325194,...,28,4.085399e+06,74563.097397,404.877827,565.632993,23808.578809,1.292741e+06,53811.802757,25264.0,506
4499,29699,44,"['DEFAULT_VEHTYPE', 'tram', 'bike_bicycle', 'b...",1.889086,179526.561024,3786.561101,32.317599,29.827819,1203.670480,666.589104,...,30,4.142306e+06,75170.093672,407.051558,576.566211,24348.982533,1.310621e+06,53773.705088,25764.0,514
4500,29700,44,"['DEFAULT_VEHTYPE', 'tram', 'bike_bicycle', 'b...",1.871357,175562.671137,3842.181785,33.275080,28.530185,1171.239084,727.995103,...,30,4.174141e+06,76052.389520,414.867348,569.806373,24056.853381,1.320926e+06,54262.790262,24069.0,468

In [16]:
df.localCO2Emission.describe()

count      4501.000000
mean      90472.806894
std       40318.824383
min           0.000000
25%       64118.904697
50%       87334.290324
75%      117120.228539
max      238649.847309
Name: localCO2Emission, dtype: float64

In [20]:
df_ppo = pd.read_csv('../src/data/evaluation/avg_speed_200_1800.csv')
df_ppo

,step,CO2_emissions,CO_emissions,HC_emissions,PMx_emissions,NOx_emissions,waiting_time,total_num_stops,current_reward
0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0,1.000000
1,1,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0,1.000000
2,2,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0,1.000000
3,3,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0,1.000000
4,4,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0,1.000000
...,...,...,...,...,...,...,...,...,...
1435,1435,64129.453474,2680.650555,12.984524,7.681626,273.932170,841.0,0,0.043550
1436,1436,69848.261984,2781.231551,13.577627,7.790141,276.347431,862.0,0,0.041456
1437,1437,64136.163159,2681.883541,12.990347,7.682150,273.937059,883.0,0,0.004442
1438,1438,64136.802220,2681.979105,12.990801,7.682193,273.937491,904.0,0,0.000028
1439,1439,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0,0.007959

In [21]:
df_ppo.CO2_emissions.describe()

count      1440.000000
mean      75672.385954
std       38815.845625
min           0.000000
25%       52033.483174
50%       78836.294482
75%      104913.619775
max      192682.677801
Name: CO2_emissions, dtype: float64