### Analyse traffic sensor data to estimate traffic demand for different vehicles

In [1]:
import pandas as pd
import numpy as np

Vorhandene Fahrspuren: S, R

Präfixe: Rechtsabbiegerspuren (R), Geradeausspuren (S), Linksabbiegerspuren (L)

Fahrzeugklassen: Fahrrad (Bikes), Motorrad (C1), PKW (C2), Kleintransporter (C3), Transporter (C4), LKW (C5)

Source: https://opendata.smartmannheim.de/dataset/traffic-sensor-014

In [2]:
data = pd.read_csv('../src/data/traffic_data/004_014_sensor_trafficData.csv')

In [3]:
data

,timestamps,Bikes,RC1,RC2,RC3,RC4,RC5,SC1,SC2,SC3,SC4,SC5
0,2023-07-26T22:00:00Z,7,0.0,33.0,0.0,10.0,0.0,0,106,0,22,1
1,2023-07-26T23:00:00Z,1,0.0,25.0,0.0,14.0,0.0,0,54,1,5,1
2,2023-07-27T00:00:00Z,1,0.0,13.0,0.0,12.0,0.0,0,37,0,15,1
3,2023-07-27T01:00:00Z,0,0.0,9.0,0.0,11.0,0.0,0,29,2,10,0
4,2023-07-27T02:00:00Z,1,0.0,3.0,0.0,9.0,1.0,0,44,0,14,0
...,...,...,...,...,...,...,...,...,...,...,...,...
137,2023-07-27T17:00:00Z,103,NaN,NaN,NaN,NaN,NaN,6,128,1,77,2
138,2023-07-27T18:00:00Z,70,NaN,NaN,NaN,NaN,NaN,10,78,1,68,4
139,2023-07-27T19:00:00Z,47,NaN,NaN,NaN,NaN,NaN,10,88,4,55,4
140,2023-07-27T20:00:00Z,43,NaN,NaN,NaN,NaN,NaN,13,93,5,46,7
141,2023-07-27T21:00:00Z,27,NaN,NaN,NaN,NaN,NaN,6,48,1,26,3

In [ ]:
#separate date from timestamp to get demand distribution per hour