## Look at details of model output

### Imports and Installations

In [ ]:
#pip install pandas

In [ ]:
#pip install matplotlib

In [ ]:
#pip install lxml

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import lxml.etree as ET
import xml.etree.ElementTree as et
#import ElementTree as ET

### Emission Output Basic Model

In [ ]:
emission_info = pd.read_xml(r'urban_mobility_simulation/src/data/2023-04-06-17-43-39emission_info.xml', parser='etree')

In [21]:
df_cols = ["time","id", "eclass", "CO2", "CO", "HC", "PMx", "NOx","PMx", "fuel","electricity", "route" ,"type" ,"noise", "waiting", "lane" , "pos" , "speed", "angle", "x", "route", "y"]

In [35]:
def parse_XML(xml_file, df_cols): 
    """Parse the input XML file and store the result in a pandas 
    DataFrame with the given columns. 
    
    The first element of df_cols is supposed to be the identifier 
    variable, which is an attribute of each node element in the 
    XML data; other features will be parsed from the text content 
    of each sub-element. 
    """
    
    xtree = et.parse(xml_file)
    xroot = xtree.getroot()
    rows = []
    
    for node in xroot: 
        res = []
        res.append(node.attrib.get(df_cols[0]))

        for element in node:
            for el in df_cols[1:]:
                if node is not None and element.get(el) is not None:
                    res.append(element.get(el))
                else: 
                    res.append(None)
            rows.append({df_cols[i]: res[i] 
                        for i, _ in enumerate(df_cols)})
    
            out_df = pd.DataFrame(rows, columns=df_cols)
        
    return out_df

In [36]:
emission_info = parse_XML('../src/data/2023-04-06-17-43-39emission_info.xml', df_cols)

In [33]:
emission_info

,time,id,eclass,CO2,CO,HC,PMx,NOx,PMx,fuel,...,type,noise,waiting,lane,pos,speed,angle,x,route,y
0,0.00,bike0,Zero/default,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,bike_bicycle,0.00,0.00,240348395#3_1,1.70,0.00,140.51,15499.17,!bike0!var#1,54231.16
1,0.00,bike0,Zero/default,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,bike_bicycle,0.00,0.00,240348395#3_1,1.70,0.00,140.51,15499.17,!bike0!var#1,54231.16
2,0.00,bike0,Zero/default,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,bike_bicycle,0.00,0.00,240348395#3_1,1.70,0.00,140.51,15499.17,!bike0!var#1,54231.16
3,0.00,bike0,Zero/default,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,bike_bicycle,0.00,0.00,240348395#3_1,1.70,0.00,140.51,15499.17,!bike0!var#1,54231.16
4,0.00,bike0,Zero/default,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,bike_bicycle,0.00,0.00,240348395#3_1,1.70,0.00,140.51,15499.17,!bike0!var#1,54231.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377696,999.00,bike101,Zero/default,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,bike_bicycle,0.00,29.00,460396653_0,34.76,0.00,23.80,15167.53,!bike101!var#1,55191.61
377697,999.00,bike101,Zero/default,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,bike_bicycle,0.00,29.00,460396653_0,34.76,0.00,23.80,15167.53,!bike101!var#1,55191.61
377698,999.00,bike101,Zero/default,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,bike_bicycle,0.00,29.00,460396653_0,34.76,0.00,23.80,15167.53,!bike101!var#1,55191.61
377699,999.00,bike101,Zero/default,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,bike_bicycle,0.00,29.00,460396653_0,34.76,0.00,23.80,15167.53,!bike101!var#1,55191.61
377700,999.00,bike101,Zero/default,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,bike_bicycle,0.00,29.00,460396653_0,34.76,0.00,23.80,15167.53,!bike101!var#1,55191.61

In [34]:
emission_info.id.unique()

array(['bike0', 'bike1', 'bike10', 'bike100', 'bike101'], dtype=object)